<%#
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
%>
<% language_tabs = current_page.data.language_tabs || [] %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="images/alaunus-tiny.png" />
    <title><%= current_page.data.title || "API Documentation" %></title>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :print, media: :print %>
    <% if current_page.data.search %>
      <%= javascript_include_tag  "all" %>
    <% else %>
      <%= javascript_include_tag  "all_nosearch" %>
    <% end %>

    <script type="text/javascript" url="javascripts/lib/_jquery.js"></script>
    <script type="text/javascript">

      function showHide(id, classe) {
        var $el = $(id);
        if ($el.css('display') == 'none') {
          $el.show();
        } else {
          $el.hide();
          $(classe).hide();
        }
      }

    </script>
  </head>

  <body class="<%= page_classes %>" data-languages="<%=h language_tabs.map{ |lang| lang.is_a?(Hash) ? lang.keys.first : lang }.to_json %>">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
      <%= image_tag "logo.png" %>
      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if current_page.data.search %>
      <% end %>
      <div id="toc">
      </div>
      <% if current_page.data.toc_footers %>
        <ul class="toc-footer">
          <% current_page.data.toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %> <!-- read stuff from markdown file -->
        <% Dir.glob("source/jsonfiles/*.json") do |jsonfilepath| %>  <!-- loop through folder and jsonfilepath = path to each json file -->
          
          <% require 'json' %>
          <% file = File.read(jsonfilepath) %>       <!-- read each json file -->
          <% my_json_hash = JSON.parse(file) %>      <!-- read each json file -->

          <% jsontitle = jsonfilepath %>      <!-- use the name of the json file as title -->
          <% jsontitle.slice! "source/jsonfiles/" %>    <!-- use the name of the json file as title -->
          <% jsontitle.slice! ".json" %>      <!-- use the name of the json file as title -->

          <% if (my_json_hash.key?("attrs")) && (!my_json_hash['documentationhide']) %>      <!-- check if the key 'attrs' exists -->
            
            <h1 id="<%= jsontitle %>"><%= jsontitle.capitalize %></h1>    <!-- print title on html -->
            
            <% jsondescfilepath = 'source/jsonfiles/descriptions/description' + jsontitle + '.json' %>    <!-- create path for the description file -->

            <%# description_file = File.read(jsondescfilepath) %>     <!-- read each json description file -->
            <% description_file = File.read('source/jsonfiles/descriptions/descriptionfilej1.json') %>     <!-- because testing (codes, ruby, python, etc)-->
          
            <% my_json_languages_hash = JSON.parse(description_file) %>             <!-- read each json description file -->

            <% my_json_hash_sorted = my_json_hash['attrs'].sort %>

            <h2 id="<%= jsontitle + '_object' %>">The <%= jsontitle %> object</h2>     <!--  prints each subtitle on the html --> 

            <!-- Information's table -->
            <h3> Attributes: </h3>
            <div class="div-table">
              <div class="div-table-row">
                  <div class="div-table-col" style="text-align:center;"><b>Attribute</b></div>
                  <div class="div-table-col" style="text-align:center;"><b>Type</b></div>
                  <div class="div-table-col" style="text-align:center;"><b>Description</b></div>
              </div>

              <div id="<%= jsontitle %>-table">
              <% my_json_hash_sorted.each do |a| %>       <!-- loop through each section inside the attrs key on the json file -->
              <% if (my_json_hash['attrs'][a[0]]['documentation'].key?("hide")) && (!my_json_hash['attrs'][a[0]]['documentation']['hide']) %>

                <div class="div-table-row">
                    <div class="div-table-col">
                      <a href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>', '.a-<%= a[0] %>'); return false;">
                        <%= a[0] %>
                      </a>
                    </div>
                    <div class="div-table-col">
                      <%= a[1]['type'] %>
                    </div>
                    <div class="div-table-col">
                      <%= a[1]['documentation']['description'] %>
                    </div>
                </div>

                <% a[1].each do |b| %>
                <% if b[0] != 'documentation' %>

                  <div class="div-table-row a-<%= a[0] %> <%= jsontitle %>-sub-<%= a[0] %>" style="display:none;">
                    <div class="div-table-col" style="background-color: aquamarine;">
                      <% if (b[1].is_a?(Hash)) %>
                        <a href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>', '.b-<%= b[0] %>' ); return false;">
                          <%= b[0] %>
                        </a> 
                      <% else %>
                        <%= b[0] %>
                      <% end %>
                      &nbsp;
                    </div>
                    <div class="div-table-col" style="background-color: aquamarine;">
                      <%= b[1]['type'] %>
                      &nbsp;
                    </div>
                    <div class="div-table-col" style="background-color: aquamarine;">
                      <% if (b[1].is_a?(Hash)) && (b[1].key?("documentation")) %>
                        <%= b[1]['documentation']['description'] %> 
                      <% end %>
                      &nbsp;
                    </div>
                  </div>

                  <% if (b[1].is_a?(Hash)) %> 
                  <% b[1].each do |c| %>
                  <% if c[0] != 'documentation' %>

                    <div class="div-table-row a-<%= a[0] %> b-<%= b[0] %> <%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>" style="display:none;">
                      <div class="div-table-col" style="background-color: rebeccapurple;">
                        <% if (c[1].is_a?(Hash)) %>
                          <a href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>', '.c-<%= c[0] %>'); return false;">
                            <%= c[0] %>
                          </a> 
                        <% else %>
                          <%= c[0] %>
                        <% end %>
                        &nbsp;
                      </div>
                      <div class="div-table-col" style="background-color: rebeccapurple;">
                        &nbsp;
                      </div>
                      <div class="div-table-col" style="background-color: rebeccapurple;">
                        <% if (c[1].is_a?(Hash)) && (c[1].key?("documentation")) %>
                          <%= c[1]['documentation']['description'] %> 
                        <% end %>
                        &nbsp;
                      </div>
                    </div>

                    <% if (c[1].is_a?(Hash)) %> 
                    <% c[1].each do |d| %>
                    <% if d[0] != 'documentation' %>

                      <div class="div-table-row a-<%= a[0] %> b-<%= b[0] %> c-<%= c[0] %> <%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>" style="display:none;">
                        <div class="div-table-col" style="background-color: red;">
                          <% if (d[1].is_a?(Hash)) %>
                            <a href="#" onclick="showHide('.<%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>-<%= d[0] %>', '.d-<%= d[0] %>'); return false;"><%= c[0] %></a> 
                          <% else %>
                            <%= d[0] %>
                          <% end %>
                          &nbsp;
                        </div>
                        <div class="div-table-col" style="background-color: red;">
                          &nbsp;
                        </div>
                        <div class="div-table-col" style="background-color: red;">
                          <% if (d[1].is_a?(Hash)) && (d[1].key?("documentation")) %>
                            <%= d[1]['documentation']['description'] %> 
                          <% end %>
                          &nbsp;
                        </div>
                      </div>

                      <% if (d[1].is_a?(Hash)) %> 
                      <% d[1].each do |e| %>
                      <% if e[0] != 'documentation' %>

                        <div class="div-table-row a-<%= a[0] %> b-<%= b[0] %> c-<%= c[0] %> d-<%= d[0] %> <%= jsontitle %>-sub-<%= a[0] %>-<%= b[0] %>-<%= c[0] %>-<%= d[0] %>" style="display:none;">
                          <div class="div-table-col" style="background-color: blue;">
                            <%= e[0] %>
                            &nbsp;
                          </div>
                          <div class="div-table-col" style="background-color: blue;">
                            &nbsp;
                          </div>
                          <div class="div-table-col" style="background-color: blue;">
                            <% if (e[1].is_a?(Hash)) && (e[1].key?("documentation")) %>
                              <%= e[1]['documentation']['description'] %> 
                            <% end %>
                            &nbsp;
                          </div>
                        </div>

                      <% end %>
                      <% end %>
                      <% end %>
                      <!-- end d loop -->

                    <% end %>
                    <% end %>
                    <% end %>
                    <!-- end c loop -->

                  <% end %>
                  <% end %>
                  <% end %>
                  <!-- end b loop -->

                <% end %>
                <% end %>
                <!-- end a loop -->

              <% end %>
              <% end %>
              <!-- end collection loop -->

              </div>
            </div>
            <!-- end collection table -->

            <!-- Code for printing examples and language -->
            <% my_json_hash['codes'].each do |langs| %>     <!-- loop through all the different codes on the json file --> 
              <% entirecode = '' %>         
              <% langs[1].each do |lines| %>        <!-- loop through each line of each code -->
                <% entirecode = entirecode + lines[1] + "\n" %>    <!-- put all the lines together -->
              <% end %>
              <% highlightedcode = Rouge.highlight(entirecode, langs[0], 'html') %>     <!-- pretty colors -->
              <% highlightedcode.gsub! '<pre class="highlight"', '<pre class="highlight' + ' ' + langs[0] + '"' %>   <!-- makes so each language block of code has its own subclass -->
              <%= highlightedcode %>
            <% end %>
            

            <!-- //////////////////////////////////////////// -->

            <!--<blockquote>
              <p>The above command returns JSON structured like this:</p>
            </blockquote> -->

            <!-- Check if there is something nested that needs to be hidden -->

            <%# if a[1].key?("somethingdeepinside") %>
              <%# value = a[1]['somethingdeepinside'] %>
              <%# a[1] = a[1].except('somethingdeepinside') %>

              <%# if a[1][value].key?("somethingdeepinside") %>  <!--if a[1]['subdocument'].key? -->
                <%# a[1][value] = a[1][value].except(a[1][value]['somethingdeepinside']) %>
                <%# a[1][value] = a[1][value].except('somethingdeepinside') %>
              <%# else %>
                <%# a[1][value] = a[1][value].except(value) %>
                <%# a[1][value] = a[1][value].except('somethingdeepinside') %>  
              <%# end %>

            <%# end %>

            <%# my_json_hash_pretty = JSON.pretty_generate(a[1].except('documentation')) %>    <!-- sit still, look pretty; the except is used so the description doesnt show on the json code block -->

            <!-- <code><%#= Rouge.highlight(my_json_hash_pretty, 'json', 'html') %></code>     pretty colors --> 

            <!-- <p><%#= a[1]['documentation']['description'] %></p>     display the description --> 

            

            <!-- Notice, warning and success -->

            <%# if a[1]['documentation'].key?("notice") %>
              <!-- <aside class="notice"><%#= a[1]['documentation']['notice'] %></aside> -->
            <%# end %>

            <%# if a[1]['documentation'].key?("warning") %>
              <!-- <aside class="warning"><%#= a[1]['documentation']['warning'] %></aside> -->
            <%# end %>

            <%# if a[1]['documentation'].key?("success") %>
              <!-- <aside class="success"><%#= a[1]['documentation']['success'] %></aside> -->
            <%# end %>

          <% end %>
          <!-- end show collection -->
        
        <% end %>
        <!-- end all collections (.json) loop -->

      </div>     <!-- closes class="content" -->
      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
